.button1{
    display: flex;
    justify-content: center;
    padding-bottom: 145px;
}

.start{
    width: 293px;
    height: 70px;
    background-color: #eb7d4b;
    font-family: 'Titillium Web';
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-radius: 5%;
}