* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

@import "class/logo.scss";
@import "class/content.scss";
@import "class/section1.scss";
@import "class/part1.scss";
@import "class/menu.scss";
@import "class/part2+text.scss";
@import "class/button.scss";
@import "class/section2.scss";
@import "class/part3.scss";
@import "class/text2";
@import "class/part4.scss";
@import "class/4cards.scss";







